@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&family=Fjalla+One&family=Fredoka:wght@500;600;700&family=Josefin+Sans:wght@500;700&family=Lobster&family=Merriweather&family=Mochiy+Pop+P+One&family=Poppins:wght@600&family=Redressed&family=Roboto+Serif:opsz@8..144&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: #FFE4E3;
}
.dosis{
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
}
.black-color{
  color: #202435;
}
.background-red{
  background-color: #ed174a;
}